# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entorno virtual
venv/
.env/

# PyInstaller
build/
dist/
*.spec

# Config de PyCharm (opcional)
.idea/

# Archivos temporales
*.log

# Entorno virtual con punto
.venv/
.pytest_cache/

# Generado al compilar
vibeloader/_build_info.py
